ul{
	color:purple;
}
td{
	text-align:center;	
}
table, th, td{
	border:1px solid black;
}
table{
	width:100%;
}
a:link{
	
	text-decoration:none;
}

a:hover{
	
	text-decoration:underline;
	background-color:#ccff99;
}
td{
	font-style:italic;
}
table{
	background-color:#ffe6ff;
}
.centerArtistName{
	
	text-align:center;
}

