#header{
	height:40px;
	border:solid;
	border-width:1px;
}

#headerDiv{
	margin:7px 0px 10px 20px;
}

#footer{
	position: static;
	height:65px;
	border:1px solid black;
	clear: both;
	margin-top:10px;
}

#footerDiv{
	margin:7px 0px 5px 0px;
	text-align:center;
}
th{
	font-size:24px;
	
}

